.background-image {
  background-image: url('https://i.imgur.com/0KJVRGq.png'); /* URL of your image */
  background-size: cover; /* Scale the background image to cover the element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  width: 100%; /* Ensure it covers the entire width */
  height: 100%; /* Ensure it covers the entire height */
  border-radius: 46px 46px 0 0;

}

.bg-overlay {
  background-color: rgba(29, 32, 37, 0.7); /* Adjust color and opacity for overlay if needed */
  border-radius: 0 0 46px 46px; /* Rounded bottom corners */
}





.progress-gradient {
  background: linear-gradient(to right, #90ef89, #d692dd, #726edd);
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(253, 17, 0, 0.3);
}

/* Define the keyframes for the blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the dot class */
.dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blink 1s infinite;
}

.circle-outer {
  background: linear-gradient(to bottom, #ff000000, #a0000000);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  background: radial-gradient(circle, #00000000, #282e3e00);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
